// .input styles
//
// .input_last - When input is the last in a group
//
// No styleguide reference
.input {
  &_last {
    margin-bottom: 0;
  }
}
.error {
  font-size: 0.85em;
  line-height: 1.3em;
  margin-top: 0.3em;
}
label {
  font-weight: bold;
}
form > div {
  margin-bottom: 20px;
}
.explanation {
  color: grey;
}
