@import "../../../../../styles/variables.scss";

.userMenu {
  float: right;
  font-size: 1.2rem;

  &__content {
    line-height: $header_height;
  }

  :global {
    .dropdown {
      &:hover,
      &.open {
        background-color: rgba(0, 0, 0, .05);
      }

      &-toggle {
        border: 0;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    .btn-link {
      &:focus,
      &:hover {
        text-decoration: none;
      }
    }
  }

  @media (min-width: $screen-xs-min) {
    font-size: 1rem;
    float: none;
    order: 2;
  }
}
