@import "../../../styles/variables.scss";

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    color: $gray_10;
  }
}

.icon {
  border-radius: 20em;
  background-color: $katuma_soft_gray;
  padding: 0.4em;
  width: 5em;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 3em;
    height: 3em;
    fill: $gray_12;
  }
}