@import "../../../styles/_katuma-colors.scss";

.navigation {
  
  background-color: white;
  border-bottom: 1px solid $katuma_primary;

  &__logo {
    display: block;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    background-color: black;
  }

}
